@model ProductRegistrationViewModel
@{
	ViewData["Title"] = "Edit Product";
}

<section class="registerproduct-form">
	<div class="bg-body-tertiary container">
		<div class="title">@ViewData["Title"]</div>
		<form method="post"  novalidate>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="articleNumber form-group">
				<label asp-for="ArticleNumber"></label>
				<input asp-for="ArticleNumber" value="@Model.ArticleNumber" readonly="readonly"/>
			</div>
			<div class="title form-group">
				<label asp-for="Title"></label>
				<input asp-for="Title" value="@Model.Title"/>
				<span asp-validation-for="Title" class="small text-danger"></span>
			</div>
			<div class="description form-group">
				<label asp-for="Description"></label>
				<textarea asp-for="Description">@Model.Description</textarea>
				<span asp-validation-for="Description" class="small text-danger"></span>
			</div>
			<div class="price form-group">
				<label asp-for="Price"></label>
				<input asp-for="Price" value="@Model.Price"/>
				<span asp-validation-for="Price" class="small text-danger"></span>
			</div>
			<div class="imagefile form-group">
				<label asp-for="ImageFile"></label>
				<input asp-for="ImageFile" />
				<span asp-validation-for="ImageFile" class="small text-danger"></span>
			</div>
			<div class="category form-group">
				<label asp-for="CategoryName"></label>
				<input asp-for="CategoryName" />
				<span asp-validation-for="CategoryName" class="small text-danger"></span>
			</div>
			<div class="tag form-group">
				@foreach (SelectListItem tag in ViewBag.Tags)
				{
					<div class="mb-2">
						<input type="checkbox" name="Tags" id="tag-@tag.Text-@tag.Value" value="@tag.Value" checked="@tag.Selected" class="form-checkbox-group" />
						<label for="tag-@tag.Text-@tag.Value" class="form-checkbox-group">@tag.Text</label>
					</div>
				}
			</div>
			<div class="button">
				<button class="btn btn-secondary py-2">Save</button>
			</div>

		</form>
	</div>
</section>