@model UserModel
@{
	ViewData["Title"] = "User Information";
}
<partial name="~/Views/Partials/_Breadcrumb.cshtml" />

<section class="user-form">
	<div class="container ">
		<div asp-validation-summary="ModelOnly" class="form-group text-danger"></div>
		<form method="post" enctype="multipart/form-data">
			<div class="userprofil">
				<div class="profilimage">
					<img src="/images/users/@Model.ProfileImageUrl" alt="@Model.FirstName+@Model.LastName" />
				</div>
				<div class="profil">
					<div class="firstname form-group">
						<label asp-for="FirstName"></label>
						<input asp-for="FirstName" value="@Model.FirstName" />
						<small class="text-danger"><span asp-validation-for="FirstName"></span></small>
					</div>
					<div class="lastName form-group">
						<label asp-for="LastName"></label>
						<input asp-for="LastName" value="@Model.LastName" />
						<small class="text-danger"><span asp-validation-for="LastName"></span></small>
					</div>
					<div class="streetName form-group">
						<label asp-for="StreetName"></label>
						<input asp-for="StreetName" value="@Model.StreetName" />
						<small class="text-danger"><span asp-validation-for="StreetName"></span></small>
					</div>
					<div class="postalCode form-group">
						<label asp-for="PostalCode"></label>
						<input asp-for="PostalCode" value="@Model.PostalCode" />
						<small class="text-danger"><span asp-validation-for="PostalCode"></span></small>
					</div>
					<div class="city form-group">
						<label asp-for="City"></label>
						<input asp-for="City" value="@Model.City" />
						<small class="text-danger"><span asp-validation-for="City"></span></small>
					</div>

					<div class="phoneNumber form-group">
						<label asp-for="PhoneNumber"></label>
						<input asp-for="PhoneNumber" value="@Model.PhoneNumber" />
						<small class="text-danger"><span asp-validation-for="PhoneNumber"></span></small>
					</div>
					<div class="companyName form-group">
						<label asp-for="CompanyName"></label>
						<input asp-for="CompanyName" value="@Model.CompanyName" />
						<small class="text-danger"><span asp-validation-for="CompanyName"></span></small>
					</div>
					<div class="email form-group" >
						<label asp-for="Email"></label>
						<input asp-for="Email" value="@Model.Email" />
						<small class="text-danger"><span asp-validation-for="Email"></span></small>
					</div>
					<div class="role form-group">
						<label asp-for="Role"></label>
						<select asp-for="Role">
							@foreach (SelectListItem role in await roleService.GetRolesAsync())
							{
								<option value="@role.Text">@role.Text</option>
							}
						</select>
					</div>
					<button class="btn btn-success">Save</button>
				</div>
			</div>
		</form>
	</div>
</section>