@model List<AppIdentityUser>

@{
	ViewData["Title"] = "All Users";
}

<partial name="~/Views/Partials/_Breadcrumb.cshtml" />
<div class="container mt-5">
	@foreach (var user in Model)
	{
			<div class="d-flex justify-content-between align-items-center">
				<div class="mb-3 d-flex align-items-center">
				<img height="60" width="60" src="/images/users/@user.ProfileImageUrl" alt="@user.FirstName" />
					<div class="ms-2">
						<div class="display-6"><strong>@user.FirstName-@user.LastName</strong></div>
						<div>@user.Email</div>
						<div>@user.PhoneNumber</div>

					</div>
					<div class="ms-2">
						<p></p>
					@if (await userManager.IsInRoleAsync(user, "user"))
					{
						<div>
							<div>Roles:User</div>
							<a asp-controller="AdminUser" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
						</div>
					}
					else if (await userManager.IsInRoleAsync(user, "admin"))
					{
						<div>Roles:Admin</div>
					}
					else
					{
						<div>Roles:Manager</div>
						<a asp-controller="AdminUser" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
					}
					</div>
				</div>
				
			</div>
	}
</div>

