@model List<AppIdentityUser>

@{
	ViewData["Title"] = "All Users";
}

<partial name="~/Views/Partials/_Breadcrumb.cshtml" />
<section class="user-section">
	<div class="container">
		@foreach (var user in Model)
		{
			<div class="card">
				<div class="user-list">
					<div class="info">
						<img class="user-image"height="60" width="60" src="/images/users/@user.ProfileImageUrl" alt="@user.FirstName" />
						<div class="detail">
							<div class="name"><strong>UserName:</strong>@user.FirstName-@user.LastName</div>
							<div class="email"><strong>Email:</strong>@user.Email</div>
							<div class="phoneNumber"><strong>PhoneNumber:</strong>@user.PhoneNumber</div>
						</div>
					</div>
					<div class="roles">
						
					@if (await userManager.IsInRoleAsync(user, "user"))
					{
							
						<div class="name">Roles:User</div>
						<a asp-controller="AdminUser" asp-action="Edit" asp-route-id="@user.Id" class="edit btn-theme">Edit</a>
							
					}
					else if (await userManager.IsInRoleAsync(user, "admin"))
					{
						<div class="name">Roles:Admin</div>
						<a asp-controller="AdminUser" asp-action="Edit" asp-route-id="@user.Id" class="edit btn-theme">Edit</a>
					}
					else
					{
						<div class="name">Roles:Manager</div>
						<a asp-controller="AdminUser" asp-action="Edit" asp-route-id="@user.Id" class="edit btn-theme">Edit</a>
					}
					</div>			
				</div>
			</div>
		}
	</div>
</section>
